body {
	background-color:#F7F7F7;
	margin: 0px;
	padding: 0px;
}
#container {
	width:550px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
}
#top {
	width:530px;
}
#leftSide {
	width:530px;
}
fieldset {
	border:1px dashed #CCC;
	padding:10px;
	margin-top:0px;
	margin-bottom:20px;
}
legend {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 90%;
	letter-spacing: -1px;
	font-weight: bold;
	line-height: 1.1;
	color:#fff;
	background: #666;
	border: 1px solid #333;
	padding: 2px 6px;
}
p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#333;
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 150%;
	letter-spacing: -1px;
	font-weight: normal;
	line-height: 1.1;
	color:#333;
}
label {
	width:140px !important;
	width:148px;
	/*
	height:29px !important;
	height:31px;
	*/
	margin-top:3px;
	margin-right:2px;
	padding-top:11px !important;
	padding-top:5px;
	padding-left:6px;
	padding-bottom: 5px !important;
	padding-bottom: 5px;
	background-color:#CCCCCC;
	float:left;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 100%;
	letter-spacing: -1px;
	font-weight: normal;
	color:#666;
}
.form {
	margin:0;
	padding:0;
}
/*
#rightSide {
	background-color:#fff;
	width:200px !important;
	width:210px;
	padding:5px;
	margin-top:40px;
	float:right;
	border:1px solid #CCC;
	font:normal 12px Arial;
	color:#666666
}
*/
.clear {
	clear:both;
}
.holder {
	background-color:#fff;

}
.div_texbox {
	width:347px !important;
	width:352px;
	float:right;
	background-color:#EEEEEE;
	height:32px;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
	font:normal 12px Arial;
	color:#666666
}
.div_blankbox {
	width:327px !important;
	width:352px;
	float:right;
	background-color:#EEEEEE;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
	padding-right:20px;
	font:normal 12px Arial;
	color:#666666
}

.textbox {
	background-image: url(../images/16t.png);
	background-color:#FFFFFF;
	background-repeat: no-repeat;
	background-position:left;
	width:285px !important;
	width:295px;
	font:normal 12px Arial;
	color: #333333;
	padding:3px 5px 3px 5px;
}

.textbox_short {
	background-image: url(../images/16t.png);
	background-color:#FFFFFF;
	background-repeat: no-repeat;
	background-position:left;
	width:50px !important;
	width:60px;
	font:normal 12px Arial;
	color: #333333;
	padding:3px 5px 3px 5px;
}

.textbox_medium {
	background-image: url(../images/16t.png);
	background-color:#FFFFFF;
	background-repeat: no-repeat;
	background-position:left;
	width:70px !important;
	width:80px;
	font:normal 12px Arial;
	color: #333333;
	padding:3px 5px 3px 5px;
}
.textbox:focus, .textbox:hover, .textbox_short:focus, .textbox_short:hover, .textbox_medium:focus, .textbox_medium:hover {
	background-color:#FFFFCC;
}

.username {
    	background-image: url(../images/16m.png);
    	background-repeat: no-repeat;
    	background-position:left;
    	background-color:#FFFFFF;
	width:285px;
    	font:normal 12px Arial;
    	color: #999999;
    	padding:3px 5px 3px 19px;
}
.username:focus, .username:hover {
	background-color:#F0FFE6;
}
   
.password {
    	background-image: url(../images/16s.png);
    	background-repeat: no-repeat;
   	background-position:left;
   	background-color:#FFFFFF;
	width:285px;
    	font:normal 12px Arial;
    	color: #999999;
    	padding:3px 5px 3px 19px;
}
.password:focus, .password:hover {
	background-color:#F0FFE6;
}

.button_div {
	width:287px !important;
	width:352px;
	float:right;
	background-color:#fff;
	border:1px solid #ccc;
	text-align:right;
	height:35px;
	margin-top:3px;
	padding:5px 32px 3px;
}
.buttons {
	background: #e3e3db;
	font-size:12px; 
	color: #989070; 
	padding: 6px 14px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
}
#search_personen td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
#search_firmen td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
div.imageContainer
{
	width: 90px;
	height: 90px;
	background-image:url(images/add.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
}