@CHARSET "UTF-8";
.div_blankbox { width: 543px; }
.div_blankbox label {
	float: left;
	width: 115px;
	padding-right: 10px;
	padding-top: 0 !important;
	padding-bottom:0 !important;
	margin: 0 0 7px 0;
	font-weight: normal;
	background-color: transparent;
}
.div_blankbox label.radio {
	display: inline-block;
	float: none;
	width: auto;
	margin-bottom: 0;
}
.div_blankbox select {width: 187px;}
div.radios {display: inline-block;margin-bottom: 10px;}

div#sync_lang {margin-bottom: 5px;}
div.sync_lang {display: inline-block;}
div.audio {display: block;}
div.multi_select { float: left; width: 210px; margin-bottom: 10px; }
img.btn {vertical-align: middle;}
div.copy {position: relative;}
div.copy>div {clear: left;}
div.copy .del_copy {
	float: right;
height: 16px;
margin-top: -8px;
position: absolute;
right: 10px;
top: 50%;
	cursor: pointer;
}
div.copy label { margin: 0;}
#save_wrapper {
margin: 15px auto 0;
padding: 5px;
background-color: #bbb;
border: 1px solid rgb(102, 102, 102);
width: 150px;
text-align: center;
font-family: Arial;
font-size: 14px;
}
#btn_save { cursor: pointer; }

.lang_val {
	position: relative;
	height: 17px;
}
.list_del { 
	float: right;
	width: 25px;
	cursor: pointer;
}