body {
	background-color:#FFFFFF;
	margin: 0px;
	padding: 0px;
}
#container {
	width:500px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding:0px;
}
#top {
	width:500px;
}
#leftSide {
	width:500px;
}
fieldset {
	border:none;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
}
legend {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#000;
	padding:0px;
}
p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000;
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#000;
}
label {
	width:130px !important;
	width:138px;
	/*
	height:29px !important;
	height:31px;
	*/
	margin-top:3px;
	margin-right:2px;
	padding-top:11px !important;
	padding-top:0px;
	padding-left:0px;
	padding-bottom: 5px !important;
	padding-bottom: 5px;
	background-color:#ffffff;
	float:left;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#000;
}
.form {
	margin:0;
	padding:0;
}
input, select {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
}
/*
#rightSide {
	background-color:#fff;
	width:200px !important;
	width:210px;
	padding:5px;
	margin-top:40px;
	float:right;
	border:0px solid #CCC;
	font-size: 11px;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}
*/
.clear {
	clear:both;
}
.holder {
	background-color:#fff;

}
.div_texbox {
	width:327px !important;
	width:352px;
	float:right;
	background-color:#EEEEEE;
	height:26px;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
	font:normal 11px Arial;
	color:#000
}
.div_blankbox {
	width:327px !important;
	width:352px;
	float:right;
	background-color:#EEEEEE;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
	/* padding-right:20px; */
	font:normal 11px Arial;
	color:#000
}

.textbox {
	/* background-image: url(../images/16t.png); */
	background-color:#FFFFFF;
	background-repeat: no-repeat;
	background-position:left;
	width:285px !important;
	width:295px;
	font:normal 11px Arial;
	color: #000;
	padding:3px 5px 3px 5px;
}

.textbox_short {
	/* background-image: url(../images/16t.png); */
	background-color:#FFFFFF;
	background-repeat: no-repeat;
	background-position:left;
	width:50px !important;
	width:60px;
	font:normal 11px Arial;
	color: #000;
	padding:3px 5px 3px 5px;
}

.textbox_medium {
	/* background-image: url(../images/16t.png); */
	background-color:#FFFFFF;
	background-repeat: no-repeat;
	background-position:left;
	width:70px !important;
	width:80px;
	font:normal 11px Arial;
	color: #000;
	padding:3px 5px 3px 5px;
}
.textbox:focus, .textbox:hover, .textbox_short:focus, .textbox_short:hover, .textbox_medium:focus, .textbox_medium:hover {
	background-color:#F2F2F2;
}

.username {
    	/* background-image: url(../images/16m.png); */
    	background-repeat: no-repeat;
    	background-position:left;
    	background-color:#FFFFFF;
	width:285px;
    	font:normal 12px Arial;
    	color: #999999;
    	padding:3px 5px 3px 19px;
}
.username:focus, .username:hover {
	background-color:#F2F2F2;
}
   
.password {
    	background-image: url(../images/16s.png);
    	background-repeat: no-repeat;
   	background-position:left;
   	background-color:#FFFFFF;
	width:285px;
    	font:normal 12px Arial;
    	color: #999999;
    	padding:3px 5px 3px 19px;
}
.password:focus, .password:hover {
	background-color:#F2F2F2;
}

.button_div {
	width:287px !important;
	width:352px;
	float:right;
	background-color:#fff;
	border:0px solid #ccc;
	height:26px;
	text-align:right;
	margin-top:3px;
	padding:5px 32px 3px;
}
.buttons {
	background: #e3e3db;
	font-size:12px; 
	color: #989070; 
	padding: 6px 16px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
}
#search_personen td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#search_firmen td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
div.imageContainer
{
	width: 90px;
	height: 90px;
	background-image:url(images/add.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
}
div.uploadImageDialog {
display:none;
}