@font-face {
  font-family: 'Spartan';
  src: url('http://www.solothurnerfilmtage.ch/download/22/filecontainer/webfont/Spartan SFT Regular.eot'); /* IE9 Compat Modes */
  src: url('http://www.solothurnerfilmtage.ch/download/22/filecontainer/webfont/Spartan SFT Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.solothurnerfilmtage.ch/download/22/filecontainer/webfont/Spartan SFT Regular.woff') format('woff'), /* Modern Browsers */
       url('http://www.solothurnerfilmtage.ch/download/22/filecontainer/webfont/Spartan SFT Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.solothurnerfilmtage.ch/download/22/filecontainer/webfont/Spartan SFT Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SpartanHeavy';
  src: url('http://www.solothurnerfilmtage.ch/download/22/filecontainer/webfont/Spartan STF Heavy.eot'); /* IE9 Compat Modes */
  src: url('http://www.solothurnerfilmtage.ch/download/22/filecontainer/webfont/Spartan STF Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.solothurnerfilmtage.ch/download/22/filecontainer/webfont/Spartan STF Heavy.woff') format('woff'), /* Modern Browsers */
       url('http://www.solothurnerfilmtage.ch/download/22/filecontainer/webfont/Spartan STF Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.solothurnerfilmtage.ch/download/22/filecontainer/webfont/Spartan STF Heavy.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body {
	background-color:#F2F2F2;
	margin: 0px;
	padding: 0px;
	font-family:Spartan;
	font-size: 16px;
	color:#000;
}
#container {
	width:550px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
}
#top {
	width:530px;
}
#leftSide {
	width:530px;
}
#geschaeftsadresse {
	width: 500px;
	padding: 5px;
	margin: 5px 0px 5px 0px;
	background-color: #EEEEEE;
	border: 1px solid #999999;
}
fieldset {
	border:1px solid #EEEEEE;
	padding:10px;
	margin-top:0px;
	margin-bottom:0px;
}
legend {
	font-family:SpartanHeavy;
	font-size: 16px;
	font-weight: bold;
	color:#000;
	padding:0px;
}
div,p {
	font-family:Spartan;
	font-size: 16px;
	color:#000;
}
h1 {
	font-family:SpartanHeavy;
	font-size: 16px;
	color:#000;
}
label {
	width:200px !important;
	width:88px;
	/*
	height:29px !important;
	height:31px;
	*/
	margin-top:2px;
	margin-right:2px;
	padding-top:2px !important;
	padding-top:0px;
	padding-left:0px;
	padding-bottom: 2px !important;
	padding-bottom: 2px;
	background-color:#ffffff;
	float:left;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#000;
}
.form {
	margin:0;
	padding:0;
}
input, select {
	font-family:Spartan;
	font-size: 16px;
}
/*
#rightSide {
	background-color:#fff;
	width:200px !important;
	width:210px;
	padding:5px;
	margin-top:40px;
	float:right;
	border:0px solid #CCC;
	font-size: 11px;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
}
*/
.clear {
	clear:both;
}
.holder {
	background-color:#fff;

}
.div_texbox {
	width:160px !important;
	width:168px;
	float:left;
	/*
	background-color:#EEEEEE;
	height:26px;
	margin-top:2px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:2px;
	*/
	font:normal 11px Arial;
	color:#000
}
.div_blankbox {
	width:327px !important;
	width:352px;
	float:left;
	background-color:#EEEEEE;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
	padding-right:20px;
	font:normal 11px Arial;
	color:#000
}

.textbox {
	background-image: url(../images/16t.png);
	background-color:#FFFFFF;
	background-repeat: no-repeat;
	background-position:left;
	width:270px !important;
	width:165px;
	font:normal 16px Spartan;
	color: #000;
	padding:2px 2px 2px 2px;
	border: 1px solid #DDDDDD;
}

.textbox_short {
	background-image: url(../images/16t.png);
	background-color:#000000;
	background-repeat: no-repeat;
	background-position:left;
	width:50px !important;
	width:60px;
	font:normal 16px Spartan;
	color: #000;
	padding:2px 2px 2px 2px;
	border: 1px solid #DDDDDD;
}

.textbox_medium {
	background-image: url(../images/16t.png);
	background-color:#FFFFFF;
	background-repeat: no-repeat;
	background-position:left;
	width:70px !important;
	width:80px;
	font:normal 11px Arial;
	color: #000;
	padding:2px 2px 2px 2px;
	border: 1px solid #DDDDDD;
}
.textbox:focus, .textbox:hover, .textbox_short:focus, .textbox_short:hover, .textbox_medium:focus, .textbox_medium:hover {
	background-color:#FFcc33;
}

.username {
    	background-image: url(../images/16m.png);
    	background-repeat: no-repeat;
    	background-position:left;
    	background-color:#FFFFFF;
	width:285px;
    	font:normal 16px Spartan;
    	color: #999999;
    	padding:3px 5px 3px 19px;
}
.username:focus, .username:hover {
	background-color:#ffcc33;
}
   
.password {
    	background-image: url(../images/16s.png);
    	background-repeat: no-repeat;
   	background-position:left;
   	background-color:#FFFFFF;
	width:285px;
    	font:normal 16px Spartan;
    	color: #999999;
    	padding:3px 5px 3px 19px;
}
.password:focus, .password:hover {
	background-color:#ffcc33;
}

.button_div {
	width:287px !important;
	width:352px;
	float:right;
	background-color:#fff;
	border:0px solid #ccc;
	height:26px;
	text-align:right;
	margin-top:3px;
	padding:5px 32px 3px;
}
.buttons {
	background: #e3e3db;
	font-size:12px; 
	color: #989070; 
	padding: 6px 16px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
}
#search_personen td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#search_firmen td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
div.imageContainer
{
	width: 90px;
	height: 90px;
	background-image:url(images/add.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
}
div.uploadImageDialog {
display:none;
}


#examplecontainer {float: left; position:relative}
#show1up { position:absolute; left:150px; top:-22px; clear:both}
#cal2Container { display:none; position:absolute; left:150px; top:-22px; z-index:1; width:210px}

.rot {
	color: #990000;
	font-weight: bold;
}
.schwarz {
	color: #000000;
	font-weight: normal;
}
.showFilmoError {
	display: block;
}
.hideFilmoError {
	display: none;
}
