/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.2.0
*/
.yui-navset .yui-nav li a,.yui-navset .yui-content {
	border: 1px solid #000; /* label and content borders */
}

.yui-navset .yui-nav .selected a,.yui-navset .yui-nav a:hover,.yui-navset .yui-content
	{
	background-color: #f6f7ee;
	/* active tab, tab hover, and content bgcolor */
}

.yui-navset .yui-nav li em {
	padding: .5em;
} /* tab padding */

/* defaults to orientation "top" */
.yui-navset .yui-nav .selected a {
	border-bottom-width: 0; /* no bottom border for active tab */
	padding-bottom: 1px; /* to match height of other tabs */
}

.yui-navset .yui-content {
	margin-top: -1px; /* for active tab overlap */
}

/* overrides for other orientations */
.yui-navset-bottom .yui-nav .selected a {
	border-width: 0 1px 1px; /* no top border for active tab */
	padding: 1px 0 0; /* to match height of other tabs */
}

.yui-navset-bottom .yui-content {
	margin: 0 0 -1px; /* for active tab overlap */
}

.yui-navset-left .yui-nav li.selected a {
	border-width: 1px 0 1px 1px; /* no right border for active tab */
	padding: 0 1px 0 0; /* to match width of other tabs */
}

.yui-navset-left .yui-content {
	margin: 0 0 0 -1px; /* for active tab overlap */
}

.yui-navset-right .yui-nav li.selected a {
	border-width: 1px 1px 1px 0; /* no left border for active tab */
	padding: 0 0 0 1px; /* to match width of other tabs */
}

.yui-navset-right .yui-content {
	margin: 0 -1px 0 0; /* for active tab overlap */
}