/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.2.0
*/
.yui-overlay {
	position: absolute;
	display: block;
}

.yui-tt {
	visibility: hidden;
	position: absolute;
	color: #333;
	background-color: #FDFFB4;
	font-family: arial, helvetica, verdana, sans-serif;
	padding: 2px;
	border: 1px solid #FCC90D;
	font: 100% sans-serif;
	width: auto;
}

* html body.masked select {
	visibility: hidden;
}

* html div.yui-panel-container select {
	visibility: inherit;
}

* html div.drag select {
	visibility: hidden;
}

* html div.hide-select select {
	visibility: hidden;
}

.mask {
	z-index: 0;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity = 50);
	background-color: #CCC;
}

.hide-scrollbars * {
	overflow: hidden;
}

.hide-scrollbars textarea,.hide-scrollbars select {
	overflow: hidden;
	display: none;
}

.show-scrollbars textarea,.show-scrollbars select {
	overflow: visible;
}

.yui-panel-container {
	position: absolute;
	background-color: transparent;
	z-index: 6;
	visibility: hidden;
	overflow: visible;
	width: auto;
}

.yui-panel-container.focused {
	
}

.yui-panel-container.matte {
	padding: 3px;
	background-color: #FFF;
}

.yui-panel-container.matte .underlay {
	display: none;
}

.yui-panel-container.shadow {
	padding: 0px;
	background-color: transparent;
}

.yui-panel-container.shadow .underlay {
	visibility: inherit;
	position: absolute;
	background-color: #CCC;
	top: 3px;
	left: 3px;
	z-index: 0;
	width: 100%;
	height: 100%;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity = 70);
	zoom: 1;
}

.yui-panel {
	visibility: hidden;
	border-collapse: separate;
	position: relative;
	left: 0px;
	top: 0px;
	font: 1em Arial;
	background-color: #FFF;
	border: 1px solid #000;
	z-index: 1;
	overflow: hidden;
}

.yui-panel .hd {
	background-color: #3d77cb;
	color: #FFF;
	font-size: 100%;
	line-height: 100%;
	border: 1px solid #FFF;
	border-bottom: 1px solid #000;
	font-weight: bold;
	overflow: hidden;
	padding: 4px;
}

.yui-panel .bd {
	overflow: hidden;
	padding: 4px;
}

.yui-panel .bd p {
	margin: 0 0 1em;
}

.yui-panel .container-close {
	position: absolute;
	top: 5px;
	right: 4px;
	z-index: 6;
	height: 12px;
	width: 12px;
	margin: 0px;
	padding: 0px;
	background: url(close12_1.gif) no-repeat;
	cursor: pointer;
	visibility: inherit;
}

.yui-panel .ft {
	padding: 4px;
	overflow: hidden;
}

.yui-simple-dialog .bd .yui-icon {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	float: left;
}

.yui-simple-dialog .bd span.blckicon {
	background: url("blck16_1.gif") no-repeat;
}

.yui-simple-dialog .bd span.alrticon {
	background: url("alrt16_1.gif") no-repeat;
}

.yui-simple-dialog .bd span.hlpicon {
	background: url("hlp16_1.gif") no-repeat;
}

.yui-simple-dialog .bd span.infoicon {
	background: url("info16_1.gif") no-repeat;
}

.yui-simple-dialog .bd span.warnicon {
	background: url("warn16_1.gif") no-repeat;
}

.yui-simple-dialog .bd span.tipicon {
	background: url("tip16_1.gif") no-repeat;
}

.yui-dialog .ft,.simple-dialog .ft {
	padding-bottom: 5px;
	padding-right: 5px;
	text-align: right;
}

.yui-dialog form,.yui-simple-dialog form {
	margin: 0;
}

.button-group button {
	font: 100 76% verdana;
	text-decoration: none;
	background-color: #E4E4E4;
	color: #333;
	cursor: hand;
	vertical-align: middle;
	border: 2px solid #797979;
	border-top-color: #FFF;
	border-left-color: #FFF;
	margin: 2px;
	padding: 2px;
}

.button-group button.default {
	font-weight: bold;
}

.button-group button:hover,.button-group button.hover {
	border: 2px solid #90A029;
	background-color: #EBF09E;
	border-top-color: #FFF;
	border-left-color: #FFF;
}

.button-group button:active {
	border: 2px solid #E4E4E4;
	background-color: #BBB;
	border-top-color: #333;
	border-left-color: #333;
}