/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.2.0
*/
/* logger default styles */
/* font size is controlled here: default 77% */
#yui-log {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: 77%;
	text-align: left;
}
/* width is controlled here: default 31em */
.yui-log {
	padding: 1em;
	width: 31em;
	background-color: #AAA;
	border: 1px solid black;
	font-family: monospace;
	z-index: 9000;
}

.yui-log p {
	margin: 1px;
	padding: .1em;
}

.yui-log button {
	font-family: monospace;
}

.yui-log .yui-log-hd {
	margin-top: 1em;
	padding: .5em;
	background-color: #575757;
	color: #FFF;
}
/* height is controlled here: default 20em*/
.yui-log .yui-log-bd {
	width: 100%;
	height: 20em;
	background-color: #FFF;
	border: 1px solid gray;
	overflow: auto;
}

.yui-log .yui-log-ft {
	margin-top: .5em;
	margin-bottom: 1em;
}

.yui-log .yui-log-ft .yui-log-categoryfilters {
	
}

.yui-log .yui-log-ft .yui-log-sourcefilters {
	width: 100%;
	border-top: 1px solid #575757;
	margin-top: .75em;
	padding-top: .75em;
}

.yui-log .yui-log-btns {
	position: relative;
	float: right;
	bottom: .25em;
}

.yui-log .yui-log-filtergrp {
	margin-right: .5em;
}

.yui-log .info {
	background-color: #A7CC25;
} /* A7CC25 green */
.yui-log .warn {
	background-color: #F58516;
} /* F58516 orange */
.yui-log .error {
	background-color: #E32F0B;
} /* E32F0B red */
.yui-log .time {
	background-color: #A6C9D7;
} /* A6C9D7 blue */
.yui-log .window {
	background-color: #F2E886;
} /* F2E886 tan */