/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.2.0
*/
body {
	font: 13px arial, helvetica, clean, sans-serif;
	*font-size: small;
	*font: x-small;
}

table {
	font-size: inherit;
	font: 100%;
}

select,input,textarea {
	font: 99% arial, helvetica, clean, sans-serif;
}

pre,code {
	font: 115% monospace;
	*font-size: 100%;
}

body * {
	line-height: 1.22em;
}